@charset "UTF-8";
/* CSS Document */

<img src=("images/crouton.jpg") alt="Crouton" border="15">
*{
	padding: 0;
	margin: 0;
}
body {
	height: 100vh;
	background: url("images/crouton.jpg") no-repeat center center fixed;
	background-size: cover;
	color:white;
}

input {
	text-align: right
}

h1 {
	text-align:center;
}

#wrapper {
	width: 620px;
	margin: 20px auto;
}

#leftColumn {
	float: left;

	width: 300px;
}
#leftColumn img {
	width: 100%;
}
#rightColumn {
	float: right;
	background-color: blue;
	width: 300px;
	text-align: center;
}

#rightColumn input {
	width: 100px;
}


 
